# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# for win32
*.sdf
*.opensdf
Debug/
Release/

# for cmake
CMakeCache.txt
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
ZERO_CHECK.vcxproj.filters
ZERO_CHECK.vcxproj
tinynet.sln
test.vcxproj.filters
test.vcxproj
CMakeFiles/
Makefile
CMakeCache.txt
cmake_install.cmake
echo_c
test